<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="/css/diary.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <!-- section -->
        <section>
            <!-- posts -->
            <% for( [index, post] of posts.entries() ) { %>
                <div>
                    <div class="post">
                        <div class="img">
                            <!-- <img src="imgs/post/<%= index %>.jpg" alt=""> -->
                        </div>
                        <div class="description">
                            <h2><%= post.title %></h2>
                            <p><%= post.content %></p>
                            <span id="more">
                                <a href="/diary/<%= post._id %>">see more</a>
                            </span>
                            <span id="date">
                                <%= (post.updated) ? `Updated at ${post.update_At}` : `Posted at ${post._id.getTimestamp().toLocaleString()}` %>
                            </span>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

    <script src="../libs/common.js"></script>
</body>
</html>
