<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head') %>
   <link rel="stylesheet" href="/css/diary.css">
</head>
<body class="fade-in">
    <div class="container">
        <!-- header -->
        <header>
            <%- include ('partials/header') %>
        </header>

        <!-- main -->
        <main>
            <!-- section -->
            <section>
                <!-- posts -->
                <% for( let i = 0; i < posts.length; i++ ) { %>
                    <div>
                        <div class="post">
                            <div class="img">
                                <img src="imgs/post/<%= posts[i].id %>.jpg" alt="">
                            </div>
                            <div class="description">
                                <h2><%= posts[i].title %></h2>
                                <p><%= posts[i].content %></p>
                                <span id="more">
                                    <a href="/diary/post">see more</a>
                                </span>
                                <span id="date">
                                    2020-02-25
                                </span>
                            </div>
                        </div>
                        <hr>
                    </div>
                <% } %>
            </section>
        </main>

        <!-- footer -->
        <footer>
            <%- include ('partials/footer') %> 
        </footer>

        <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

        <script src="../js/common.js"></script>
    </div>
</body>
</html>
