<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <main>
        <!-- main section -->
        <section>
            <!-- articles -->
            <div class="article">
                <% for (post of posts){ %> 
                    <a href="/diary/<%= post._id %>">
                        <div class="post">
                            <h1>
                                <%= post.title %>
                            </h1>

                            <p>
                                <%= post.content %> 
                            </p>
                        </div>
                        <% if(post.postImage !== '{}' && post.postImage.data !== undefined){ %> 
                            <% const postImage = post.postImage.data.toString('base64'); %> 
                            <img src="data:image/png;base64,<%= postImage %>" alt="">
                        <% } else{ %> 
                            <img src="https://pbs.twimg.com/profile_images/757974066011770880/ae2Eop2g.jpg" alt="Undefined postImage">
                        <% } %> 
                    </a>
                <% } %> 
            </div>
            
            <!-- drawings -->
            <!-- <div class="drawing">
                <% imgs.forEach(img => { %>
                    <div>
                        <img src="imgs/music/<%= img.id %>.jpg" alt="<%= img.id %> ">
                    </div>
                <% }) %>
            </div> -->

            <!-- newest visitors (최신 방명록) -->
            <div class="visitors">
                <% for ([index,visitor] of visitors.entries()) { %> 
                    <a href="/visitor#<%= index %>">
                        <div class="visitor" style="background-color:<%= visitor.bg_color %>">
                            <span>누군가</span> <span id="content"><%= visitor.content %></span>  <i>some</i>
                        </div>
                    </a>
                <% } %> 
            </div>

        </section>

        <!-- side section -->
        <aside>
            <!-- 인스타그램 -->
            <div class="insta-photo">
                <b>INSTAGRAM</b>
                <a href="https://instagram.com/justindglee" target="_blank">
                    <div id="instagram-embed">
                        <img alt="instagram-image" id="img1">
                    </div>
                </a>
            </div>
            <!-- 연락처 -->
            <div class="contact-info">
                <b>CONTACT</b>
                <br>
                <span>
                    nninnnin7@gmail.com
                </span>
            </div>
        </aside>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  %>
    </footer>

    
    <!-- scripts -->
    <script src="../libs/common.js"></script>
    <script src="../libs/index.js"></script>
</body>
<!-- loader -->
<%- include ('partials/loader') %>
</html>
