<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <main>
        <!-- main section -->
        <section>
            <!-- articles -->
            <div class="article">
                <% for (post of posts){ %> 
                    <a href="/diary/<%= post._id %>">
                        <div class="post">
                            <h1>
                                <%= post.title %>
                            </h1>

                            <p>
                                <%= post.content %> 
                            </p>
                        </div>
                        <% if(post.postImage !== '{}' && post.postImage.data !== undefined){ %> 
                            <% const postImage = post.postImage.data.toString('base64'); %> 
                            <img src="data:image/png;base64,<%= postImage %>" alt="">
                        <% } else{ %> 
                            <img src="https://pbs.twimg.com/profile_images/757974066011770880/ae2Eop2g.jpg" alt="Undefined postImage">
                        <% } %> 
                    </a>
                <% } %> 
            </div>
            
            <!-- drawings -->
            <!-- <div class="drawing">
                <% imgs.forEach(img => { %>
                    <div>
                        <img src="imgs/music/<%= img.id %>.jpg" alt="<%= img.id %> ">
                    </div>
                <% }) %>
            </div> -->

            <!-- newest visitors (최신 방명록) -->
            <div class="visitors">
                <% for ([index,visitor] of visitors.entries()) { %> 
                    <a href="/visitor#<%= index %>">
                        <div class="visitor">
                            <span>누군가</span> <span id="content"><%= visitor.content %></span>  <i>some</i>
                        </div>
                    </a>
                <% } %> 
            </div>

        </section>

        <!-- side section -->
        <aside>
            <!-- 인스타그램 -->
            <div class="insta-photo">
                <b>INSTAGRAM</b>
                <a href="http://instagram.com/justindglee" target="_blank">
                    <div id="instagram-embed">
                        <img alt="instagram-image" id="img1">
                    </div>
                </a>
            </div>
            <!-- 연락처 -->
            <div class="contact-info">
                <b>CONTACT</b>
                <br>
                <span>
                    nninnnin7@gmail.com
                </span>
            </div>
        </aside>
    </main>

        <!-- footer -->
        <footer>
            <%- include ('partials/footer')  %>
        </footer>
    </div>

    <!-- common.js -->
    <script src="../libs/common.js"></script>

    <script>
        console.log('index')
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = (e)=>{
        // readyState 가 4단계로서 통신이 완료된 단계이며
            if(xhr.readyState !== XMLHttpRequest.DONE){
                return
            }   
        // status가 200으로 통신이 성공적으로 이루어졌을 때
            if(xhr.status === 200){
                console.log(xhr);
            } else{
                console.log(`통신이 성공적으로 이루어지지 못했네요 status code = ${xhr.status} : ${xhr.statusText}`)
            }
        }
        xhr.open('GET','/diary');
        xhr.send();
    </script>

</body>
</html>
