<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- main -->
    <main>
        <article>
            <header>
                <h1><%= post.title %> </h1>
            </header>
            <section>
                <img src="/imgs/post/<%= post.id %>.jpg" alt="" width="60%">
                <br>
                <p>
                    <%= post.content %> 
                </p>
            </section>
        </article>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <script src="../libs/common.js"></script>
</body>
</html>