<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/visitor.css">
    </header>

    <!-- main -->
    <main>
        <!-- main section -->
        <div class="main">
            <!-- write new  -->
            <h1>방명록</h1>

            <!-- guest post form -->
            <section class="postFormSection">
                <h2>한마디 부탁드려요 :)</h2>
                <form action="/visitor" method="post" id="postForm">
                    <textarea name="content" id="postTxt" required autofocus="autofocus"></textarea>
                    <button type="submit" id="submitBtn">POST!</button>
                </form>
            </section>

            <!-- get guest posts -->
            <section>
                <% for ([index, guestPost] of guestPosts.entries()){ %> 
                    <div class="guestPost">
                        <h3><%= guestPosts.length - index %>번 글</h3>
                        <p>
                            <%= guestPost.content %> 
                            <br>
                            <span class="published"><%= `${(guestPost.updated)? 'updated' : 'posted'} at ${guestPost.updated_At.toLocaleString()}` %></span>
                        </p>
                        <a href="visitor/<%= guestPost._id %>/delete"><button>삭제하기</button></a>
                        <a href="visitor/<%= guestPost._id %>" id="updateBtn"><button>수정하기</button></a>
                    </div>
                <% } %> 
            </section>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

    <script src="../libs/common.js"></script>
    <script src="../libs/visitor.js"></script>
</body>
</html>
