<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('partials/head') %> 
    <link rel="stylesheet" href="css/visitor.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <marquee behavior="" direction="">
            바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말
        </marquee>
        <!-- main section -->
        <div class="main">
            <!-- write new  -->
            <!-- <h1>방명록</h1>
            <h2>한마디 부탁드려요 :)</h2> -->
            <!-- guest post form -->
            <section class="postForm">
                <form action="/visitor" method="post" id="postForm" onsubmit="sendForm(event,this)">
                    <img src="imgs/minimi.jfif" alt="">
                    <textarea name="content" id="postTxt" placeholder="응원의 한마디 :)" required></textarea>
                    <input type="color" name="bg_color" value="#f0f8ff">
                    <button type="submit" id="submitBtn">POST!</button>
                    <% if (process.env.NODE_ENV==='development') { %>
                    <div class="checkbox">
                        <label for="hidden">비밀글</label>
                        <input type="checkbox" name="hidden" value="true">
                    </div>
                    <% } %>
                </form>
            </section>

            <!-- get guest posts -->
            <section id="guestPosts">
                
                <% for ([index, guestPost] of guestPosts.entries()){ %>
                    <!-- 공개글 -->
                    <% if (!guestPost.hidden) { %>
                    <div class="guestPost <%= (guestPost.font_white)? 'white': null%>"  id="<%= index %>" style="background-color:<%= guestPost.bg_color%>">
                        <% const postNumber = guestPosts.length - index %>
                        <header>
                            NO.<%= postNumber %>
                            <span>작성자</span>
                            <span class="published"><%= `(${(guestPost.updated)? 'updated' : 'posted'} at ${guestPost.updated_At.toLocaleString('ko-KR',{ timeZone: 'UTC' })})` %></span>

                            <div class="checkbox">
                                <label for="hidden">숨기기</label>
                                <input type="checkbox" name="hidden" value="<%= guestPost.hidden?false:true %>"onclick="toggleHidden(this)" data-post-id="<%= guestPost._id %>">
                            </div>
                        </header>

                        <p>
                            <%= guestPost.content %> 
                            <br>
                        </p>
                        
                        <% if(node_env === 'development'){ %> 
                        <a href="visitor/<%= guestPost._id %>" id="deleteBtn"><button>삭제하기</button></a>
                        <a href="visitor/<%= guestPost._id %>" id="updateBtn"><button>수정하기</button></a>
                        <% } %> 
                    </div>
                    <% }else{ %>
                    <!-- dev모드 일 때만 비밀글 렌더링 -->
                    <% if (process.env.NODE_ENV === 'development') { %>
                    <div class="guestPost <%= (guestPost.font_white)? 'white': null%>"  id="<%= index %>" style="background-color:<%= guestPost.bg_color%>">
                        <% const postNumber = guestPosts.length - index %>
                        <header>
                            NO.<%= postNumber %>
                            <span>작성자</span>
                            <span class="published"><%= `(${(guestPost.updated)? 'updated' : 'posted'} at ${guestPost.updated_At.toLocaleString('ko-KR',{ timeZone: 'UTC' })})` %></span>
                            <span id="secret">비밀글</span>

                            <div class="checkbox">
                                <label for="hidden">공개하기</label>
                                <input type="checkbox" name="hidden" value="<%= guestPost.hidden?false:true %>" onclick="toggleHidden(this)" data-post-id="<%= guestPost._id %>">
                            </div>
                        </header>

                        <p class="hiddenPost">
                            <%= guestPost.content %>
                            <br>
                        </p>
                        
                        <a href="visitor/<%= guestPost._id %>" id="deleteBtn"><button>삭제하기</button></a>
                        <a href="visitor/<%= guestPost._id %>" id="updateBtn"><button>수정하기</button></a>
                    </div>
                    <% } %>
                    <% } %> 
                <% } %> 
            </section>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <button id="home">UP</button>

    <script src="../libs/common.js"></script>
    <script src="../libs/visitor.js"></script>
</body>
</html>
