<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="../css/common.css">

    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
        <link rel="stylesheet" href="css/visitor.css">
    </header>

    <!-- main -->
    <main>
        <!-- main section -->
        <div class="main">
            <!-- write new  -->
            <h1>방명록</h1>

            <!-- guest post form -->
            <section class="postFormSection">
                <h2>한마디 부탁드려요 :)</h2>
                <form action="/visitor" method="post" id="postForm">
                    <textarea name="content" id="postTxt" required autofocus="autofocus"></textarea>
                    <button type="submit" id="submitBtn">POST!</button>
                </form>
            </section>

            <!-- get guest posts -->
            <section>
                <% for ([index, guestPost] of guestPosts.entries()){ %> 
                    <div class="guestPost">
                        <h3><%= guestPosts.length - index %>번 글</h3>
                        <p><%= guestPost.content %> </p>
                        <a href="visitor/<%= guestPost._id %>/delete"><button>삭제하기</button></a>
                        <a href="visitor/<%= guestPost._id %>" id="updateBtn"><button>수정하기</button></a>
                    </div>
                <% } %> 
            </section>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <i class="fas fa-chevron-circle-up fa-2x" id="home"></i>

    <script src="../libs/common.js"></script>
    <script>
        // textarea에서 Enter 키를 누를 때 Form을 제출하도록
        const postTextArea = document.querySelector('#postTxt');
        postTextArea.addEventListener('keypress',(e)=>{
            if(e.key === 'Enter'){
                const postForm = document.querySelector('#postForm');
                postForm.submit();
            }
        })
        
        // HTTP request with PUT method using fetchAPI to update the post
        const updateBtn = document.querySelectorAll('#updateBtn');
        updateBtn.forEach((btn)=>{
            btn.addEventListener('click',(e)=>{
                e.preventDefault();

                const reqdata = {
                    content: postTextArea.value
                }
                const url = e.target.parentElement.href;

                const postId = url.split('/')[4]

                fetch(`/visitor/${postId}`,{
                    method:'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                      },
                    body: JSON.stringify(reqdata)
                }).then((res)=>{
                    console.log(`유저를 찾고 업데이트에 성공했습니다 status code = ${res.status}`);
                    e.target.parentElement.parentElement.children[1].innerText = reqdata.content;
                }).catch((err)=>{
                    console.log(err);
                })
            })
        });
    </script>
</body>
</html>
