<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %> 
    <link rel="stylesheet" href="css/visitor.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>

    <!-- main -->
    <main>
        <marquee behavior="" direction="">
            바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말 바르고 고운말
        </marquee>
        <!-- main section -->
        <div class="main">
            <!-- write new  -->
            <!-- <h1>방명록</h1>
            <h2>한마디 부탁드려요 :)</h2> -->
            <!-- guest post form -->
            <section class="postForm">
                <form action="/visitor" method="post" id="postForm">
                    <img src="imgs/minimi.jfif" alt="">
                    <textarea name="content" id="postTxt" placeholder="응원의 한마디 :)" required></textarea>
                    <button type="submit" id="submitBtn">POST!</button>
                </form>
            </section>

            <!-- get guest posts -->
            <section>
                <% for ([index, guestPost] of guestPosts.entries()){ %> 
                    <div class="guestPost"  id="<%= index %>">
                        <% const postNumber = guestPosts.length - index %>
                        <header>
                            NO.<%= postNumber %>
                            <span>작성자</span>
                            <span class="published"><%= `(${(guestPost.updated)? 'updated' : 'posted'} at ${guestPost.updated_At.toLocaleString()})` %></span>
                        </header>

                        <p>
                            <%= guestPost.content %> 
                            <br>
                        </p>
                        
                        <% if(node_env === 'development'){ %> 
                        <a href="visitor/<%= guestPost._id %>/delete"><button>삭제하기</button></a>
                        <a href="visitor/<%= guestPost._id %>" id="updateBtn"><button>수정하기</button></a>
                        <% } %> 
                    </div>
                <% } %> 
            </section>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer')  -%> 
    </footer>

    <button id="home">UP</button>

    <script src="../libs/common.js"></script>
    <script src="../libs/visitor.js"></script>
</body>
</html>
