<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="/css/write.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- main -->
    <main>
        <h1>Writer's block</h1>
        <% if (post==null){ %>
        <div>
            <form action="/diary" method="post" enctype="multipart/form-data">
                <label for="title">제목</label><br>
                <input name="title" type="text"><br>

                <label for="content">내용</label><br>
                <textarea name="content" id=""></textarea><br>

                <input type="file" name="postImage" id=""><br>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <% } else{ %>
            <div>
                <form action="/diary/update/<%=post._id%>?_method=PUT" method="post">
                    <label for="title">제목</label><br>
                    <input name="title" type="text" value="<%= post.title %>"><br>
    
                    <label for="content">내용</label><br>
                    <textarea name="content" id=""><%= post.content %></textarea><br>

                    <input type="file" name="image" id=""><br>

                    <button type="submit" class="btn btn-primary" id="updateBtn">Submit</button>
                </form>
            </div>
        <% } %> 
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <script src="../libs/common.js"></script>
</body>
</html>