<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin's blog</title>
    
    <!-- to use fontawesome -->
    <script src="https://kit.fontawesome.com/58673910ce.js" crossorigin="anonymous"></script>

    <!-- 여기서는 절대경로로 써야 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" href="/css/write.css">
</head>
<body class="fade-in">
    <!-- header -->
    <header>
        <%- include ('partials/header') %>
    </header>


    <!-- main -->
    <main>
        <h1>Writer's block</h1>
        <% if (post==null){ %>
        <div>
            <form action="/diary" method="post" enctype="multipart/form-data">
                <label for="title">제목</label><br>
                <input name="title" type="text" maxlength="20" required><br>

                <label for="content">내용</label><br>
                <div class="content">
                    <div class="aligners">
                        <label for="leftAlignBtn">왼쪽 정렬</label>
                        <input type="radio" name="aligned" id="leftAlignBtn" value="left">
                        <label for="rightAlignBtn">가운데 정렬</label>
                        <input type="radio" name="aligned" id="rightAlignBtn" value="center">
                    </div>
                    <textarea name="content" id="content" required></textarea><br>
                </div>

                <input type="file" name="postImage" id=""><br>

                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
        <% } else{ %>
            <div>
                <form action="/diary/update/<%=post._id%>?_method=PUT" method="post">
                    <label for="title">제목</label><br>
                    <input name="title" type="text" value="<%= post.title %>" maxlength="20" required><br>
    
                    <label for="content">내용</label>
                    <div class="content">
                        <div class="aligners">
                            <label for="leftAlignBtn">왼쪽 정렬</label>
                            <input type="radio" name="aligned" id="leftAlignBtn" value="left">
                            <label for="rightAlignBtn">가운데 정렬</label>
                            <input type="radio" name="aligned" id="rightAlignBtn" value="center">
                        </div>
                        <textarea name="content" id="content" required><%= post.content %></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary" id="updateBtn">Submit</button>
                </form>
            </div>
        <% } %> 
    </main>

    <!-- footer -->
    <footer>
        <%- include ('partials/footer') %> 
    </footer>

    <script src="/libs/common.js"></script>
    <script src="/libs/write.js"></script>
</body>
</html>