<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="../css/diary.css" />
  </head>
  <body class="fade-in">
    <!-- header -->
    <header>
      <%- include ('partials/header') %>
    </header>
    <!-- main -->
    <main>
      <!-- section -->
      <section>
        <!-- posts -->
        <% for( [index, post] of posts.entries() ) { %>
        <div>
          <div class="post">
            <div class="img">
              <!-- <img src="imgs/post/<%= index %>.jpg" alt=""> -->
              <% if(post.postImage !== '{}' && post.postImage.data !==
              undefined){ %> <% const postImage =
              post.postImage.data.toString('base64'); %>
              <img src="data:image/png;base64,<%= postImage %>" alt="" />
              <% } else{ %>
              <img src="imgs/post/undefined.jpg" alt="Undefined postImage" />
              <% } %>
            </div>
            <div class="description">
              <h2><%= post.title %></h2>
              <p><%= post.content %></p>
              <a id="more" href="/diary/<%= post._id %>">see more</a>
              <span id="date">
                <%= `Posted at ${post._id.getTimestamp().toLocaleDateString()}`
                %>
              </span>
            </div>
          </div>
        </div>
        <% if( index !== posts.length - 1 ){ %>
        <hr />
        <% } %> <% } %>
      </section>
    </main>

    <% if(process.env.NODE_ENV === 'development'){ %>
    <button id="writeButton">쓰기</button>
    <% } %>

    <!-- footer -->
    <footer>
      <%- include ('partials/footer') %>
    </footer>

    <!-- <button id="home">UP</button> -->

    <button id="home">UP</button>

    <script src="../libs/common.js"></script>
    <script src="../libs/diary.js"></script>
  </body>
  <!--loader-->
  <%- include ('partials/loader') %>
</html>
