<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ('partials/head') %>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <%- include ('partials/header') %>
    </header>

    <main>
      <div class="blank">
        Hello, world
        <!-- <span>∨∨ more ∨∨</span> -->
      </div>

      <hr>

      <section>
        <div class="main">
          <h1>DIARY</h1>
          <!-- articles -->
          <div class="article">
            <% for (post of posts){ %>
            <a href="/diary/<%= post._id %>">
              <h1>
                <%= post.title %>
              </h1>

              <% if(post.postImage !== '{}' && post.postImage.data !== undefined){
              %> <% const postImage = post.postImage.data.toString('base64'); %>
              <img src="data:image/png;base64,<%= postImage %>" alt="" />
              <% } else{ %>
              <img
                src="https://pbs.twimg.com/profile_images/757974066011770880/ae2Eop2g.jpg"
                alt="Undefined postImage"
              />
              <% } %>

              <p>
                <%= post.content %>
              </p>
            </a>
            <% } %>
          </div>

          <!-- drawings -->
          <!-- <div class="drawing">
                  <% imgs.forEach(img => { %>
                      <div>
                          <img src="imgs/music/<%= img.id %>.jpg" alt="<%= img.id %> ">
                      </div>
                  <% }) %>
              </div> -->

          <hr>

          <div class="footprint">
            <!-- 오늘의 한마디 -->
            <h1>TODAY</h1>
            <div class="word-of-the-day">
              <span>
                "보이지 않는 소중한 것들"
              </span>
              <i class="far fa-heart" id="heart"></i>
            </div>
    
            <!-- newest visitors (최신 방명록) -->
            <div class="visitors">
              <% for ([index,visitor] of visitors.entries()) { %>
    
              <a href="/visitor#<%= index %>">
                <div class="visitor" style="--bg-color: <%= visitor.bg_color %>;">
                  <span id="name">@</span>
                  <span id="content"><%= visitor.content %></span>
                  <i style="--bg-color: <%= visitor.bg_color %>;"></i>
                </div>
              </a>
    
              <% } %>
            </div>
          </div>
        </div>
        
        <aside>

          <!-- <div class="insta-photo">
            <b>INSTAGRAM</b>
            <a href="https://instagram.com/justindglee" target="_blank">
              <div id="instagram-embed">
                <img alt="instagram-image" id="img1" />
              </div>
            </a>
          </div> -->
        </aside>
      </section>

    </main>

    <!-- footer -->
    <footer>
      <%- include ('partials/footer') %>
    </footer>

    <!-- scripts -->
    <script src="../libs/common.js"></script>
    <script src="../libs/index.js"></script>
  </body>
  <!-- loader -->
  <%- include ('partials/loader') %>
</html>
